html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.left-title{
	font-size: 1.25rem;
	color: white;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
}


.test-ech{
	width: 31.25rem;
	height: 18.75rem;
	background-color: aqua;
}

#left-nav{
	width: 15%;
	height: 100%;
	position: fixed;
	background-color: #2a2a34;
	
}

@media screen and (max-width: 60rem) {
	.left-nav{
		min-width: 31.25rem;
	}
	
}
.vac{
	background-color: (154,45,22);
}

.left-nav-logo{
	position: relative;
	height: 6.25rem;
	width: 6.25rem;
	margin: 1% auto;
	background-color: #7FFFD4;
	border-radius: 0.1875rem;

}
.left-nav-logo img{
	position: relative;
	width: 100%;
	height:100%;
	background-size: contain;
	border-radius: 0.1875rem;
}
#btn{
	width: 20%;
	height: 40px;
	background-color:#93b5ff;
	line-height: 40px;
	text-align: center;
	color: black;
	cursor: pointer;
	border-radius: 0.3125rem;
	}
#btnb{
	width: 50px;
	height: 4%;
	background-color: #d3deff;
	position: absolute;
	cursor: pointer;
	left: -50px;
	line-height: 50px;
	text-align: center;
	z-index: 9999;
	border-radius: 0.1875rem;
	}
	
#right-box {
	position: absolute;
	right: 0;
	width: 85%;
/* 	background-color: #acceff; */
	height: 100%;
}

#head-nav{
	width: 100%;
	height:6%;
	position: absolute;
	background-color: #e3e3e3;
	
}

.search-form{
	position: absolute;
	width: 18.75rem;
	height: 60%;
	left: 3.75rem;
	top: 10%;
	
}

.search-form input{
	position: relative;
	height: 2.1875rem;
	width: 12.5rem;
	border: none;
	border-radius: 0.3125rem;
	outline: none;
	vertical-align: middle;
	background-color: #ffffff;
}
.search-form button{
	position: relative;
	height: 2.1875rem;

}
.username{
	position: absolute;
	right: 8.25rem;
	margin-top: 0.625rem;
	
}

#user-image{
	position: absolute;
	height: 2.8125rem;
	width: 2.8125rem;
	right: 3.125rem;
	background-color: #00AAFF;
	border-radius: 100%;
	margin-top: 0.1875rem;
	background-size: cover;
	
}

#child-page{
	position: absolute;
	width: 100%;
	height: 94%;
	background-color: #dde1ea;
	bottom: 0;
	border: none;
	
}


.accordion {
	position: relative;
	width:100%;
	background:#8792Af;
/* 	-webkit-border-radius:4px;
	-moz-border-radius:4px; */
	border-radius:2px;
	list-style-type: none;
}
.accordion .link {
	cursor:pointer;
	display:block;
	padding:15px 15px 15px 42px;
	color:black;
	font-size:15px;
	font-weight:550;
	border-bottom:1px solid #CCC;
	position:relative;
	-webkit-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.accordion li:last-child .link {
	border-bottom:0;
}
.accordion li i {
	position:absolute;
	top:16px;
	left:12px;
	font-size:18px;
	color:#595959;
	-webkit-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.accordion li i.fa-chevron-down {
	right:12px;
	left:auto;
	font-size:16px;
}
.accordion li.open .link {
	color:white;
}

.accordion li.open i.fa-chevron-down {
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
/**
 * Submenu
 -----------------------------*/
 .submenu {
	display:none;
	background:#B5BCD8;
	font-size:14px;
	list-style-type: none;
	width: 100%;
	border-radius: 0.3125rem;
	position: relative;
}
.submenu li {
	border-bottom:1px solid #4b4a5e;
}
.submenu a {
	display:block;
	text-decoration:none;
	color:black;
	padding:12px;
	padding-left:42px;
	-webkit-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.submenu a:hover {
	background:black;
	color:white;
}
