body,html{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}


.box-left{
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	background-color: #c9dae6;
}

.box-right{
	position: relative;
	float: right;
	width: 50%;
	height: 100%;
	background-color: #c9dae6;
}


.box-t{
	position: relative;
	height: 48%;
	width: 98%;
	margin: 1% 1%;
	border-radius: 0.625rem;
	background-color: #FFFFFF;
	
}
.box-b{
	position: relative;
	height: 48%;
	width: 98%;
	margin: 1% 1%;
	border-radius: 0.625rem;
	background-color:  #FFFFFF;
}

.box-table{
	position: relative;
	height: 48%;
	width: 98%;
	margin: 1% 1%;
	border-radius: 0.625rem;
	
	background-color:  #FFFFFF;
	
	
}