<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>设置</title>
		<link rel="stylesheet" type="text/css" href="../static/css/setting.css" />
		<script src="../static/js/jquery-3.5.1.min.js"></script>
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/common.css">
		<script type="application/javascript" src="../static/js/bootstrap.bundle.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	</head>
	<body>
		
		<div class="content">
			<h3 align="center" style="margin: 0.625rem;">个人设置</h3>
			<div class="info-box">

					
			<form class="box-my" enctype="multipart/form-data" action="/user/update" method="post">
				<img  class="image" src="{{user.image}}" id="photo"/>
				<input type="file" name="pic" accept="image/*" id="edit_photo"  class="file-input" style="display: none;" />
				<br/>
			  <div class="form-row">
					<div class="col-md-6 mb-3">
					  <label >账号</label>
					  <input type="text" class="form-control" readonly="readonly" id="userid" value="{{user.userid}}" name="userid">
					</div>
				   <div class="col-md-6 mb-3">
					 <label >昵称</label>
					 <input type="text" class="form-control"  readonly="readonly" id="username"value="{{user.username}}" name="username">
				   </div>
			  </div>
			  <div class="form-row">
					<div class="col-md-6 mb-3">
					  <label>手机号</label>
					  <input type="text" class="form-control"  readonly="readonly" id="phone" value="{{user.phone}}" name="phone">
					</div>
					
					<div class="col-md-3 mb-3">
					     <label  class="control-label">性别:</label>
				 	     <select class="show-tick form-control"   data-live-search="true" name="gender" id="gender"  readonly="readonly" 
						 value="{% if user.gender == 1 %}  男
								{% elif user.gender == 0 %} 女
								{% endif %}">
					  		<option class="form-control" value="1">男</option>
					  		<option class="form-control" value="0">女</option>
					  	 </select>
					</div>
			    <div class="col-md-3 mb-3">
			      <label>年龄</label>
			      <input type="number" class="form-control"  readonly="readonly" id="age" value="{{user.age}}" name="age">
			    </div>
			  </div>
			  
			  <a class="btn btn-warning" id="edit">修改</a>
			  <a class="btn btn-outline-danger" id="cancel" style="display: none;">取消</a>
			  <button class="btn btn-outline-primary" type="submit" style="display: none;" id="sub">提交</button>
			</form>
				
			</div>
		</div>
		
		<script>
			$("#edit").click(function(){
				$("#sub").css("display","inline")
				
				$('#username').removeAttr("readonly");
				$('#gender').removeAttr("readonly");
				$('#age').removeAttr("readonly");
				$('#phone').removeAttr("readonly");
				$("#edit").css("display","none");
				$("#cancel").css("display","inline");
				$("#edit_photo").css("display","inline");
			});
			
			$("#cancel").click(function(){
				$('#username').attr("readonly","readonly");
				$('#gender').attr("readonly","readonly");
				$('#age').attr("readonly","readonly");
				$('#phone').attr("readonly","readonly");
				
				$("#edit").css("display","inline");
				$("#cancel").css("display","none");
				$("#sub").css("display","none");
				$("#edit_photo").css("display","none");
				
				})
				
				
				
				$("#edit_photo").change(function () {//avatar_file  input[file]的ID
				    // 获取上传文件对象
				    var file = $(this)[0].files[0];
				    // 读取文件URL
				    var reader = new FileReader();
				    reader.readAsDataURL(file);
				    // 阅读文件完成后触发的事件
				    reader.onload = function () {
				        // 读取的URL结果：this.result
				        $("#photo").attr("src", this.result);//avatar_img  img标签的ID
				    }
				});
		</script>
		
		
		
	</body>
</html>
