<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>stream</title>
		<script src="../static/js/jquery-3.5.1.min.js"></script>
		<script src="../static/js/echarts.js"></script>
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<script src="../static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../static/css/stream.css" />
		<link rel="stylesheet" href="../static/css/bootstrap-icons-1.10.5/font/bootstrap-icons.css">
	</head>
	<body style="background-color: #33414b;">
		<h2>用户搜索实时监控</h2>
		<div class="box-left">
		
			<div class="box-3-1" id="ech1" style="background-color: rgba(12,17,42,1)">
				<h3>当前时间</h3>
				<div id="day"></div>
				<div id="nowtime"></div>
			</div>
			<div class="box-3-1" id="ech2">
				
			</div>
			
			<div class="box-3-1" id="box3">
				<h4>当前搜索内容Top10</h4>
				<div class="tablebox">
				        <!-- 表头容器 -->
				        <div class="tbl-header" id="tb3-header">
				            <table border="0" cellspacing="0" cellpadding="0">
				                <thead>
				                    <tr>
				                        <th>排名</th>
				                        <th>用户id</th>
				                        <th>搜索次数</th>
				            
				                    </tr>
				                </thead>
				                <tbody style="opacity:0;"></tbody>
				            </table>
				        </div>
				        <!-- 表格内容容器-->
				        <div class="tbl-body" id="tb3-body">
				            <table border="0" cellspacing="0" cellpadding="0">
				                <thead>
				                    <tr>
										<th>排名</th>
										<th>用户id</th>
										<th>搜索次数</th>
				                    </tr>
				                </thead>
				                <tbody></tbody>
				            </table>
				        </div>
				</div>
			
				
			</div>
		</div>
		
		<div class="box-center">
			<div class="box-2-1" id="cent1"></div>
			<div class="box-2-1" id="cent2"></div>
		</div>
		
		<div class="box-right">
			<div class="box-3-1" id="box4"></div>
			
			
			<div class="box-3-1" id="box5">
				
			</div>
			
			
			<div class="box-3-1" id="box6">
				<h4>当前访问页面Top10</h4>
				<div class="tablebox">
				        <!-- 表头容器 -->
				        <div class="tbl-header" id="tb6-header">
				            <table border="0" cellspacing="0" cellpadding="0">
				                <thead>
				                    <tr>
				                        <th>排名</th>
				                        <th>url</th>
				                        <th>点击次数</th>
				            
				                    </tr>
				                </thead>
				                <tbody style="opacity:0;"></tbody>
				            </table>
				        </div>
				        <!-- 表格内容容器-->
				        <div class="tbl-body" id="tb6-body">
				            <table border="0" cellspacing="0" cellpadding="0">
				                <thead>
				                    <tr>
										<th>排名</th>
										<th>用户id</th>
										<th>搜索次数</th>
				                    </tr>
				                </thead>
				                <tbody></tbody>
				            </table>
				        </div>
				</div>
			
			</div>
			
			
		</div>
		
		<script type="application/javascript" src="../static/css/utils.js"></script>

		<script type="application/javascript" src="../static/js/stream.js"></script>
		

	</body>
</html>
