<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>注册结果</title>
		<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/register.css}">
		<script type="application/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>

		
	</head>
	<body>
		
		<div class="main-box">
			<h3 class="title"th:text="${state ==1? '注册成功':'注册失败'}"> <i class="bi bi-x"></i>
				</h3>
			<div class="text-box">
				
				
			注册账号:<span style="color: #ff0000; font-size: 1.5625rem;" th:text="${userid}"></span>
			<br/>
<!--			详细信息:{{msg}}-->
			<a class="btn bg-primary " style="color: white;" href="/Admin/user/manager">返回查询</a>
			
			</div>
		</div>
	</body>
</html>
