<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>概况</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/welcome.css}" />
		<script  type="text/javascript" th:src="@{/js/jquery-3.5.1.min.js}"></script>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 		<script th:src="@{/js/bootstrap.bundle.js"></script> -->

	</head>
	<body style="background-color: #6f7791;">

	<!-- 	<h2>概况</h2> -->
		<div class="jumbotron" style="margin: 0; border-radius: 0; height: 25%;" >
		  <h1 class="display-5">Ding Data Analysis System —— Flume Kafka搜索日志采集分析系统</h1>
		  <br/>
		<!--  <p class="lead" class="display-2">Flume+Kafka的搜索日志采集分析系统</p> -->
		  <hr class="my-4">
		  <p style="margin-left: 3.125rem; font-size: 1.25rem;">Author:丁恪</p>
		</div>
		
		
		<div class="other-text">
			<div class="page-info">
				<h1 class="display-5">页面导航</h1><br/>
				<a th:href="@{/streaming}">实时数据分析</a><br/>
				<a th:href="@{/offline/ana_trend}">总体趋势</a><br/>
				<a th:href="@{/offline/ana_user}">搜索用户分析</a><br/>
				<a th:href="@{/offline/ana_keywords}">查询词分析</a><br/>
				<a th:href="@{/offline/ana_url}">页面点击分析</a><br/>
				<a th:href="@{/offline/ana_lda}">LDA主题分析</a><br/>
			</div>
	
		</div>
		
	</body>
</html>
